Cython==0.21.2
PyYAML==3.11
click==3.3
numexpr==2.4
numpy==1.9.1
pandas==0.16.1
pymongo==2.7.2
python-dateutil==2.4.0
pytz==2014.10
rarfile==2.6
six==1.9.0
tables==3.1.1
SQLAlchemy==1.0.4
fuzzywuzzy==0.5.0
python-Levenshtein==0.12.0
progressbar==2.3

# for postgres
psycopg2==2.6

# for mysql
#mysql-connector-python==1.2.2
#mysql-utilities==1.4.3

# experimental packages
enum34
numba
